################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/retriever/packages
/node_modules
/web2/private.config
/web2/packages